<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron" id="vue">
            <h1>Major League Networking</h1>
            <p>Group 18 - Senior Project</p>
			<form>
				<input type="text" name="topic"/>
				<input type="submit" />
			</form>
        </div>

        <p>JSON:
          <% if (typeof tweetResults != 'undefined') { %>
             <%- JSON.stringify(tweetResults) %>
          <% } %>
        </p>
    </main>
		


</body>
</html>
